
/*Cabecera: incluye titulo y un breve resumen*/

.banner{
    background-color: gray;
    text-align: center;
    color:white ;
    font-size: 25px;
    
    
}

.foto{
    
    float: left;
}

.tituloResumen{
    text-align: center;
}


.resumen{
    text-align: justify;
}

.negrita{
    font-weight: bold;
    
}

.tituloResumen{
    text-align: center;
}


.resumen{
    text-align: justify;
}

/*Nav: incluye las habilidades principales*/

.menuNav{
    display: flex;
    flex-direction: column;
    text-align: center
    
}

.tituloNav{
    text-align: center;
}

.valoresNav{
    padding-right: 5%;
    padding-left: 5%;
}

/*Section y Aside: contenidas en un div para su disposición en pantalla deseada, incluye experiencia laboral, formacion y otros datos de interés*/

.contenedor{
    display: flex;
    flex-direction: column;
}

section{
    text-align: center;
        
}

aside{
    text-align: center;
   ;
}

.experienciaLaboral{
    display: none;
}


.formacion{
    display: none;
}

/*Footer: incluye datos de contacto y redes sociales*/

footer{
    text-align: left;
    background-color: gray;
}

.pie{
    color: white;
}

/*Media: para adaptarlo a diferentes tamaños de pantalla*/

@media (min-width: 600px) {
    .contenedor {
        flex-direction: row;
    }
footer {
    background-color: black;
    }
    .menuNav{
        flex-direction: row;
        ;
    }
    
}



