.negrita{
    font-weight: bold;
    
}

.banner{
    background-color: gray;
    text-align: center;
    color:white ;
    ;
    
}

.tituloResumen{
    text-align: center;
}


.resumen{
    text-align: justify;
}



.menuNav{
    display: flex;
    flex-direction: row;
    border-right: 150px;
    
}

.tituloNav{
    text-align: center;
}

.valoresNav{
    padding-right: 5%;
    padding-left: 5%;
}

.formation{
    
    background-position: center;
}

section{
    text-align: center;
        
}

.experienciaLaboral{
    display: none;
}


.formacion{
    display: none;
}

aside{
    text-align: center;
   ;
}

.contenedor{
    display: flex;
    flex-direction: column;
}

footer{
    text-align: left;
    background-color: gray;
}

.pie{
    color: white;
}

.information{
    display:contents;
}



@media (min-width: 600px) {
    .contenedor {
        flex-direction: row;
    }
footer {
    background-color: black;
    }
}

.otrosDatos{
    display: none;
}

body{
    background-color: rgba(0, 255, 0, 0.653);
}