.negrita{
    font-weight: bold;
    
}

.banner{
    background-color: gray;
    
}


.nombre{
    text-align: center;
    color: white;
    font-size: 60px;
    background-color: gray;
}

.resumen{
    text-align: justify;
}

.cv{
    text-align: center;
    color: rgb(253, 253, 253);
   font-size: 50px;
}
.menuNav{
    display: flex;
    flex-direction: row;
    border-right: 150px;
    
}

.tituloNav{
    text-align: right;
}

.valoresNav{
    padding-right: 5%;
    padding-left: 5%;
}

.formation{
    
    background-position: center;
}

section{
    text-align: center;
    
}

aside{
    text-align: center;
   ;
}

.contenedor{
    display: flex;
    flex-direction: column;
}

footer{
    text-align: left;
    background-color: gray;
}

.pie{
    color: white;
}

.information{
    display:contents;
}
.tituloResumen{
    text-align: center;
}

.ab {
    text-align: center;
}

.myUL {
    display: inline-block;
    text-align: left;
}

@media (min-width: 600px) {
    .contenedor {
        flex-direction: row;
    }
    footer {
        background-color: red;
    }
} 
